In [9]:
import pandas as pd 
import numpy as np 
from matplotlib.pyplot import subplots
import statsmodels.api as sm
from statsmodels.stats.outliers_influence \
import variance_inflation_factor as VIF
from statsmodels.stats.anova import anova_lm

In [10]:
house=pd.read_csv("hou_all.csv")
house.columns = ['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX', 'PTRATIO', 'B', 'LSTAT', 'MEDV','BIAS_COL']

In [11]:
print(house.shape)
house.head()

(505, 15)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV,BIAS_COL
0,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6,1
1,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7,1
2,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4,1
3,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2,1
4,0.02985,0.0,2.18,0,0.458,6.430,58.7,6.0622,3,222,18.7,394.12,5.21,28.7,1

In [12]:
house.isnull().sum() / len(house) * 100

CRIM        0.0
ZN          0.0
INDUS       0.0
CHAS        0.0
NOX         0.0
RM          0.0
AGE         0.0
DIS         0.0
RAD         0.0
TAX         0.0
PTRATIO     0.0
B           0.0
LSTAT       0.0
MEDV        0.0
BIAS_COL    0.0
dtype: float64

In [13]:
house.drop('BIAS_COL', axis=1, inplace=True)

In [14]:
print(house.shape)
house.head()

(505, 14)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
1,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
2,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
3,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
4,0.02985,0.0,2.18,0,0.458,6.430,58.7,6.0622,3,222,18.7,394.12,5.21,28.7

In [15]:
X = pd.DataFrame({'intercept': np.ones(house.shape[0]),
'lstat': house['LSTAT']})
X[:4]

   intercept  lstat
0        1.0   9.14
1        1.0   4.03
2        1.0   2.94
3        1.0   5.33

In [16]:
y = house['MEDV']
model = sm.OLS(y, X)
results = model.fit()

In [17]:
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                   MEDV   R-squared:                       0.545
Model:                            OLS   Adj. R-squared:                  0.544
Method:                 Least Squares   F-statistic:                     602.3
Date:                Sat, 24 Feb 2024   Prob (F-statistic):           4.91e-88
Time:                        13:51:08   Log-Likelihood:                -1638.3
No. Observations:                 505   AIC:                             3281.
Df Residuals:                     503   BIC:                             3289.
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
intercept     34.5874      0.564     61.344      0.000      33.480      35.695
lstat         -0.9518      0.039    -24.542      0.000      -1.028      -0.876
==============================================================================
Omnibus:                      136.265   Durbin-Watson:                   0.894
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              288.736
Skew:                           1.449   Prob(JB):                     2.00e-63
Kurtosis:                       5.307   Cond. No.                         29.7
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.